* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

body {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(/image/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.box{
    border: 1px solid purple;
    position: relative;
    width: 300px;
    height: 350px;
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    border-radius: 20px;


}


button {
    border-radius: 5px;
    font-size: 30px;
    color: white;
    background: transparent;
    width: 40%;
   position: relative;
   overflow: hidden;
   transition: .2s;
}

button:hover {
    cursor: pointer;
    background: #8a2be2;
    box-shadow: 0 0 10px #8a2be2, 0 0 15px #5b2be2, 0 0 30px #730bec;
   transition-delay: 1s;
}

button span {
    position: absolute;
    display: block;
}
button span:nth-child(1){
  width: 100%;
  height: 2px;
  top: 0;
  left: -100%;
  background: linear-gradient(90deg, transparent, #5b2be2);
}

button:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
button span:nth-child(2){
    width: 2px;
    height: 100%;
    top: -100%;
    right: 0;
    background: linear-gradient(180deg, transparent, #5b2be2);
}

button:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: .25s;
}
button span:nth-child(3){
    width: 100%;
    height: 2px;
    right: -100%;
    bottom: 0;
    background: linear-gradient(270deg, transparent, #5b2be2);
}

button:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: .5s;  
}

button span:nth-child(4){
    width: 2px;
    height: 100%;
    bottom: -100%;
    left: 0;
    background: linear-gradient(360deg, transparent, #5b2be2);
}

button:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: .75s;
}


#me {
    color: white;
    font-size: 20px;
}

h3 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
